<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 6px;
}
</style>
</head>
<body>




<div class="w3-content" style="max-width:1100px">

  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
    <%= image_tag "online-sms.jpg" ,:size => "760x280", class: "w3-round w3-image w3-opacity-min"%>
      <%= image_tag "images.jpg",:size => "500x280" %>
    
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Our Services</h1><br>
      <h5 class="w3-center">Message Services since 2022</h5>
      <p class="w3-large">The Message Services was founded in  by Mr. S.Prajapat in  india, An Message gateway helps connect messages from a messaging platform like MessageWhiz to the telecom network. What is the Bulk Message Marketing Process in a Nutshell? Successful marketing starts with a plan and goals, regardless of the marketing channel. Before sending out messages, you need to define your goals and target audience
.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Electronic message means a self-contained piece of digital communication that is designed or intended to be transmitted between physical devices. “Electronic message” includes, but is not limited to, electronic mail, a text message, an instant message, or a command or request to access an internet site.</p>
    </div>
  </div>
  
  <hr>
  
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
         
    <h1>Need more help?</h1><br>
      <p> Contact us</p>
      <p>Tell us more and we’ll help you get there</p>
   
    <p class="w3-text-blue-grey w3-large"><b>Software Engineering, 299 marimata square,  pin code 452015 indore (Madhya Pradesh )</b></p>
    <p>You can also contact us by </p>
    <p>Phone :- +91-78800-56606 </p>
    <p>Email :- yuva258yuva@gmail.com </p>
   
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <%= image_tag "product.png",:size => "460x280" %>
    <%= image_tag "tablesetting2.jpg" ,:size => "760x280", class: "w3-round w3-image w3-opacity-min"%>
    </div>
  </div>

  <hr>
  
</div>

<footer class="w3-center w3-light-grey w3-padding-32">
    <p>The World's Leading Secure
         Enterprise Messaging Service. ©2022   </p>
</footer>

</body>
</html>